Repository navikt/smregistrering: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,yml}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix prod deploy
  nais/nais-prod.yaml
Due: none

fix demo deploy
  nais/nais-demo.yaml
Due: none

[skip ci] delete unused .prettierrc
  .prettierrc.js
  src/components/Form/components/formComponents/Flatpickr.css
Due: yarn prettier --write

Boost ram
  nais/nais-demo.yaml
Due: none

Boost cpu for demo app
  nais/nais-demo.yaml
Due: none

Boost cpu for demo
  nais/nais-demo.yaml
Due: none

Update nais-demo.yaml
  nais/nais-demo.yaml
Due: none

fix msw memory leak?
  src/mocks/index.ts
Due: yarn eslint --fix --max-warnings=0

omg
  src/pages/api/backend/[[...path]].ts
Due: yarn eslint --fix --max-warnings=0

Revert "omg"
  src/pages/api/backend/[[...path]].ts
Due: yarn eslint --fix --max-warnings=0

don't init msw server side in demo
  package.json
  src/mocks/index.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

tweak demo resources down
  nais/nais-demo.yaml
Due: none

Added in correct url for demo applicaiton
  README.md
Due: yarn prettier --write

use recommended distroless
  Dockerfile
Due: none

bump dependencies
  package.json
  public/mockServiceWorker.js
  src/components/Form/components/formComponents/SearchableInput.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add permission
  .github/workflows/deploy.yml
Due: yarn prettier --write

add missing id on select
  src/components/Form/components/FormReject.tsx
  src/components/ModiaHeader/ModiaHeader.tsx
Due: yarn eslint --fix --max-warnings=0

bulk-bump deps
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

bulk-bump deps (#267)
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

Rerun redirect
  redirect-dev.yaml
  redirect-prod.yaml
Due: none

Rerun redirect (#280)
  redirect-dev.yaml
  redirect-prod.yaml
Due: none

yarn 4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

Updated ingressClassName
  redirect-prod.yaml
Due: none

deps: upgrade deps
  package.json
  yarn.lock
Due: yarn prettier --write

fix test execution in GHA
  package.json
  src/__tests__/mulighetForArbeid.test.tsx
  src/__tests__/submitOppgave.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

node 20
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
  Dockerfile
  package.json
  src/utils/fetchUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump deps
  package.json
  yarn.lock
Due: yarn prettier --write

bump dependencies
  package.json
  yarn.lock
Due: yarn prettier --write
