Repository navikt/smregistrering: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump msw 2
  package.json
  public/mockServiceWorker.js
  src/__tests__/apiError.test.tsx
  src/__tests__/avvisOppgave.test.tsx
  src/__tests__/loadPasient.test.tsx
  src/__tests__/mulighetForArbeid.test.tsx
  src/__tests__/revertToGosysOppgave.test.tsx
  src/__tests__/submitOppgave.test.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
  src/utils/testUtils.tsx
  vitest.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use @main for workflows now that node 20 is default [skip ci]
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: use @navikt/diagnosekoder
  package.json
  src/data/icd10.json
  src/data/icpc2.json
  src/utils/dataUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: use 2024 diagnosekoder
  package.json
  yarn.lock
Due: yarn prettier --write

refactor(vitest): fjern vitest-dom pakken til fordel for @testing-library/jest-dom
  .github/dependabot.yml
  package.json
  vitest.setup.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat(tsconfig): add jest-dom to tsconfig types
  tsconfig.json
Due: yarn prettier --write

chore: replace vitest-dom with @react-testing-library/jest-dom (#297)
  .github/dependabot.yml
  package.json
  tsconfig.json
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: replace next-auth-wonderwall with oasis
  package.json
  src/auth/withAuth.ts
  src/pages/api/backend/[[...path]].ts
  src/pages/index.tsx
  src/services/modiaService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix ip vuln
  yarn.lock
Due: none

chore: use @navikt/oasis
  package.json
  src/auth/withAuth.ts
  src/pages/api/backend/[[...path]].ts
  src/services/modiaService.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @navikt/oasis (#299)
  package.json
  src/auth/withAuth.ts
  src/pages/api/backend/[[...path]].ts
  src/services/modiaService.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump oasis to 3.2.1"
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump jose"
  yarn.lock
Due: none

chore: enable auto instrumentation
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore(deps): tsm sync-cmd: upgrade transitive deps ws, ip, bracers
  yarn.lock
Due: none

chore: add modia fetching logging
  src/pages/index.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use service discovery for modiacontextholder
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/services/modiaService.ts
Due: yarn eslint --fix --max-warnings=0

fix: display enhet-picker even though aktivEnhet is null
  src/store.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use service discovery for modiacontextholder (#340)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/services/modiaService.ts
Due: yarn eslint --fix --max-warnings=0

log modia response
  src/services/modiaService.ts
Due: yarn eslint --fix --max-warnings=0

fix: change name to fornavn og etternavn
  src/components/ModiaHeader/ModiaHeader.tsx
  src/services/modiaService.ts
  src/utils/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Modia error (#350)
  src/components/ModiaHeader/ModiaHeader.tsx
  src/services/modiaService.ts
  src/utils/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add deprecation warning [skip ci]
  .github/workflows/deploy-redirect-dev.yml
  .github/workflows/deploy-redirect-prod.yml
  README.md
Due: yarn prettier --write

chore: add link back to syk-dig and deprecation notice
  src/components/Form/Form.tsx
  src/components/Form/components/FormHeader.css
  src/components/Form/components/FormHeader.tsx
  src/components/Form/components/FormHeaderFerdigstilt.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

update yarn version
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: forgot to run yarn after yarn bump
  yarn.lock
Due: none

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,yml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
